button {
    padding: 5px;
    border: 2px rgb(134, 235, 147) solid;
    border-radius: 8px;
    color: rgb(51, 115, 34);
    background-color: white;
    cursor: pointer;
}
button:hover {
    background-color: rgb(134, 235, 147);

}

input, textarea {
    border: 2px solid rgb(231, 232, 237);
    padding: 1%;
    border-radius: 8px;
    padding: 10px;
}

input:focus , textarea:focus {
    box-shadow: 0 0 10px rgba(134, 235, 147 ,0.7);
}
